*,
*::after,
*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  font-family: 'SDAIAFont', serif;
}

@font-face {
  font-family: SDAIAFont;
  src: url(./asstes/SDAIA_Font.ttf);
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  background-color: #00000025;
  z-index: 10;
}

.header-logo {
  display: flex;
  margin-top: 10px;
}
.header-logo #logo{
  scale: 2.5;
  margin-right: 10px;
}

.header-drop-list {
  display: flex;
  gap: 45px;
  font-size: 18px;
  color: white;
}

.container {
  width: 100%;
  height: 100vh;
}

video {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100vw;
  height: 122vh;
  z-index: -1;
  
  opacity: 0.5;
}

.overlay-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(26, 137, 126, 0.5);
  z-index: -1;
}

.main-message {
  position: absolute;
  top: 215px;
  right: 250px;
  width: 560px;
  color: white;
  font-weight: bolder;
  background-color: #00000025;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-message h1 {
  font-size: 45px;
}

.main-message-numbers {
  width: 100%;
  display: flex;
  text-align: center;
}
.main-message-numbers > * {
  background-color: #6459a7;
  padding: 12px;
}
.main-message-numbers > *:last-child {
  background-color: #273470;
}
.main-message-numbers > * > p {
  font-weight: lighter;
}
.main-message-numbers > * > h2 {
  font-size: 36px;
  font-weight: bolder;
}

.over {
  z-index: 10;
  margin-top: -86px;
  height: 101vh;
  background-color: #ffffff;
}



/* swiper thing */

.swiper-container {
  z-index: 12;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #060913;
  color: white;
  overflow: hidden;
}

.swiper {
  width: 100%;
  padding: 50px 0;
}

.swiper-slide {
  position: relative;
  width: 320px;
  aspect-ratio: 4/7;
  border-radius: 14px;
  /* border: 1px solid rgb(177, 177, 177, 0.4); */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  user-select: none;
}

.title {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, -20%);
  -ms-transform: translate(-50%, -20%);
  width: max-content;
  text-align: center;
  padding: 10px 18px;
  background-color: rgba(49, 39, 39, 0.3);
  border-radius: 8px;
  border: 2px solid rgb(177, 177, 177, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all 0.5s linear;
}

.title span {
  font-size: 1.2rem;
  font-weight: 600;
}

.swiper-slide-active .title {
  bottom: 10px;
  box-shadow: 0 20px 30px 2px rgba(25, 43, 206, 0.6);
}

.swiper-pagination {
  --swiper-pagination-bottom: -6px;
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.swiper-pagination-bullet-active {
  width: 32px;
  background-color: rgba(25, 43, 206, 1);
  border-radius: 14px;
}

@media (max-width: 1100px) {
  .swiper-slide {
    width: 300px;
  }
}

@media (max-width: 1100px) {
  .swiper-slide {
    width: 250px;
  }
}

@media (max-width: 1100px) {
  .swiper-slide {
    width: 230px;
  }
}

@media (max-width: 1100px) {
  .swiper-slide {
    width: 200px;
  }
}





/* iPhone */



.iphone-x {
  position: relative;
  border-radius: 40px;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 11px #1f1f1f, 0px 0px 0px 13px #191919, 0px 0px 0px 20px #111;
}
.iphone-x:before, .iphone-x:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.iphone-x:after {
  bottom: 7px;
  width: 140px;
  height: 4px;
  background-color: #f2f2f2;
  border-radius: 10px;
}
.iphone-x:before {
  top: 0px;
  width: 56%;
  height: 30px;
  background-color: #1f1f1f;
  border-radius: 0px 0px 40px 40px;
  z-index: 13;
}